[user]
    email = jngu@yelp.com
    name = John Nguyen
[alias]
    ci = commit -v
    amend = commit --amend --no-edit
    st = status -sb
    br = branch -vv
    po = push
    hist = log --color=always --pretty=format:\"%C(auto)%h - %C(bold blue)%aE %C(green)(%cr)%C(reset) %s\" --graph --date=short
    behind = log --color=always --pretty=format:\"%C(auto)%h - %C(bold blue)%aE %C(green)(%cr)%C(auto)%d%C(reset) %s\" --graph --date=short @..@{u}
    ahead = log --color=always --pretty=format:\"%C(auto)%h - %C(bold blue)%aE %C(green)(%cr)%C(auto)%d%C(reset) %s\" --graph --date=short @{u}..@
    g = grep -ni
    gall = !git g
    ds = diff -C --staged --color-words
    d = diff -C --color-words
[fetch]
    prune = true
[remote "origin"]
    tagOpt = --no-tags
[push]
	default = simple
[branch]
	autoSetupRebase = remote
