[user]
	email = jngu@yelp.com
	name = John Nguyen
[alias]
	ci = commit
    amend = commit --amend --no-edit
	co = checkout
	st = status
	br = branch
    po = push origin
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	histmore = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --stat
