[submodule "z"]
	path = .config/z/z
	url = https://github.com/rupa/z.git
[submodule ".config/fish/plugins/oh-my-fish"]
	path = .config/fish/plugins/oh-my-fish
	url = https://github.com/oh-my-fish/oh-my-fish
