[user]
    email = jngu@yelp.com
    name = John Nguyen
[alias]
    addp = add -p

    # Verbose commit will show diff when writing commit message
    ci = commit -v
    cip = commit -vp

    # Checkout
    co = checkout
    cop = checkout -p

    # Amend like 'fix' in rebase
    amend = commit --amend --no-edit

    # Short message and show ahead/behind tracking branch
    st = status -sb

    # List tracking branches and branch ahead/behind
    br = branch -vv

    hist = log --color=always --pretty=format:\"%C(auto)%h - %C(bold blue)%aE %C(green)(%cr)%C(auto)%d%C(reset) %s\" --graph --date=short @ @{u} -15
    # Log that shows how many commits the upstream has moved ahead
    behind = log --color=always --pretty=format:\"%C(auto)%h - %C(bold blue)%aE %C(green)(%cr)%C(auto)%d%C(reset) %s\" --graph --date=short @..@{u}
    # Show how many commits current branch has moved away from upstream
    ahead = log --color=always --pretty=format:\"%C(auto)%h - %C(bold blue)%aE %C(green)(%cr)%C(auto)%d%C(reset) %s\" --graph --date=short @{u}..@

    # Case insensitive search and show matching line numbers
    g = grep -ni

    gall = !git g

    # Show diff with inline diff
    ds = diff -C --staged --color-words
    d = diff -C --color-words

    # Resync with tracked branch
    sync = reset --hard @{u}

    # Merge and use default merge message
    mer = merge --no-edit
[fetch]
    # Remove refs that no longer exist on remote
    prune = true
[interactive]
    # Less keystrokes for interactive modes
    singleKey = yes
[push]
    # Push current branch to upstream as long as name matches
	default = simple
[branch]
    # Pull will rebase for both local and remote tracking branches
    autoSetupRebase = always
    # Checkout and branch will setup upstream branch for local and remote starting branch
    autoSetupMerge = always
