repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v0.9.4
      hooks:
          - id: check-added-large-files
          - id: check-byte-order-marker
          - id: check-case-conflict
          - id: check-executables-have-shebangs
          - id: check-json
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-xml
          - id: check-yaml
          - id: detect-aws-credentials
            args:
                - --allow-missing-credentials
          - id: detect-private-key
          - id: end-of-file-fixer
          - id: file-contents-sorter
            files: (config/omf/bundle$)
          - id: mixed-line-ending
          - id: pretty-format-json
            args:
                - --autofix
          - id: sort-simple-yaml
          - id: trailing-whitespace
    - repo: https://github.com/asottile/reorder_python_imports
      rev: v0.3.5
      hooks:
          - id: reorder-python-imports
    - repo: https://github.com/asottile/add-trailing-comma
      rev: v0.6.4
      hooks:
          - id: add-trailing-comma
