aspy.yaml==1.3.0
astroid==2.3.2
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.4.4
cfgv==2.0.1
entrypoints==0.3
flake8==3.7.9
future==0.18.2
greenlet==0.4.15
identify==1.4.7
importlib-metadata==0.23
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==7.2.0
msgpack==0.6.2
neovim==0.3.1
nodeenv==1.3.3
packaging==19.2
pluggy==0.13.0
powerline-status==2.7
pre-commit==1.20.0
py==1.8.0
pycodestyle==2.5.0
pydocstyle==4.0.1
pyflakes==2.1.1
pylint==2.4.3
pynvim==0.3.2
pyparsing==2.4.2
pytest==5.2.2
python-jsonrpc-server==0.2.0
python-language-server==0.30.0
requirements-tools==1.2.1
rope==0.14.0
snowballstemmer==2.0.0
toml==0.10.0
typed-ast==1.4.0
virtualenv==16.7.7
wrapt==1.11.2
yapf==0.28.0
zipp==0.6.0
