asn1crypto==0.24.0
backcall==0.1.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cli-helpers==1.0.2
click==6.7
colorama==0.3.9
configobj==5.0.6
cryptography==2.2.2
decorator==4.3.0
docopt==0.6.2
http-prompt==0.11.2
httpie==0.9.9
idna==2.7
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.0
mycli==1.17.0
parsimonious==0.8.1
parso==0.2.1
pathspec==0.5.6
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
psutil==5.4.6
ptpython==0.41
ptyprocess==0.6.0
pycparser==2.18
Pygments==2.2.0
PyMySQL==0.9.0
pyte==0.8.0
PyYAML==3.12
requests==2.19.1
setuptools==39.2.0
simplegeneric==0.8.1
six==1.11.0
sqlparse==0.2.4
tabulate==0.8.2
terminaltables==3.1.0
thefuck==3.27
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
yamllint==1.11.1
