asttokens==2.0.5
backcall==0.2.0
backports.zoneinfo==0.2.1
cffi==1.15.1
cli-helpers==2.2.1
click==8.1.3
colorama==0.4.5
configobj==5.0.6
cryptography==37.0.4
decorator==5.1.1
docopt==0.6.2
executing==0.8.3
ipython==8.4.0
jedi==0.18.1
matplotlib-inline==0.1.3
mycli==1.21.1
nodeenv==1.7.0
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==2.0.10
psutil==5.9.1
ptpython==2.0.6
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.12.0
PyMySQL==1.0.2
pyright==1.1.261
pyte==0.8.1
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
setuptools==63.2.0
six==1.16.0
sqlparse==0.3.1
stack-data==0.3.0
tabulate==0.8.10
tasklib==2.4.3
thefuck==3.32
traitlets==5.3.0
tzdata==2022.1
tzlocal==4.2
urwid==2.1.2
visidata==2.8
vit==2.2.0
wcwidth==0.2.5
yamllint==1.27.1
