# Disable http-prompt until updated to support prompt-toolkit >2.0
# http-prompt
ipython
mycli
ptpython
# mycli, ipython, and ptpython are not prompt-toolkit 3.0 ready yet
prompt-toolkit<3
thefuck
visidata
vit
yamllint
