/Code/
/Pinta/
/coc/
/configstore/
/gcloud/
/git/
/gtk-2.0/
/htop/
/http-prompt/
/iterm2/
/joplin*
/karabiner/
/mealpy/
/mono.addins/
/nvm/
/pgcli/
/pudb/internal-cmdline-history.txt
/taskwarrior-tui/
/thefuck/
/virtualenv/
/wslu/
